@media (max-width: 1366px) {

}
@media (max-width: 1200px) {
  .overflow-auto{
    &::-webkit-scrollbar-thumb{
      height:2px;
    }
    &::-webkit-scrollbar{
      height:2px;
    }
    &::-webkit-scrollbar-track{
      height:2px;
    }
  }
  #desktop-menu{
    display:none;
    ul{
      li{
        float:none;
        display:block;
        margin-right:0;
      }
    }
  }
  .mobileCartBtn{
    display:block;
    position:fixed;
    left:15px;
    bottom:15px;
    z-index:3;
  }
  .header{
    height:auto;
  }
  #headerSearchArea,
  #headerSearchInput {
    width:100%;
  }
  .goldbar-exchange{
    display:none !important;
  }
  .category-list {
    .category{
      width:49.5%;
      margin-right:1%!important;
      &:nth-child(2n) {
        margin-right:0 !important;
      }
    }
  }
  .product-list{
    .product-item {
      width:49.5%
    }
    .product-item:nth-child(5n) {
      margin-right:1%;
    }
    .product-item:nth-child(2n) {
      margin-right:0!important;
    }
  }
  #loginSlider{
    display:none;
  }
  .mobile-gm-cat-image{
    width:50% !important;
  }
  #paymentMethods{
    .paymentMethod {
      width:100%;
      margin-right:0 !important;
    }
  }
}
@media (max-width: 767.98px) {
  #home-slider{
    height:113.67px;
  }
}