.logo-thumbnail img {
    max-height: 50px !important;
    object-fit: cover;
}
.rn-header .logo-thumbnail {
    padding-right: 32px;
    position: relative;
    margin-right: -1px;
}
.footer-recent-post li.recent-post .thumbnail a img {
    max-height: 60px;
    border-radius: 100%;
    object-fit: cover;
    max-width: 53px;
}
@media screen and (max-width: 700px) {
    #gizleMobilMenu{
        display: none;
    }
    .setting-option .icon-box{
        display: flex;
        font-size: 12px !important;
        align-items: center;
    }
    .setting-option .icon-box a{

        font-size: 12px !important;
    }
}
.kayanYaziTop{
    display: flex;
    flex-basis: 50%;
}
#altmenu{
    /* background: #c2bdbd24; */
    background-color: var(--background-color-1);
    flex-basis: 100% !important;
    height: 60px;
    padding-left: 20px;
}
#altmenu a:hover{

}
.kayan-yazi-container {
    overflow: hidden;
    width: 100%;
}
.kayan-yazi {
    white-space: nowrap;
    font-size: 17px;
    animation: kayanYazi 10s linear infinite;
    font-family: 'Montserrat';
}
@keyframes kayanYazi {
    from {
        transform: translateX(100%); /* Başlangıç konumu */
    }
    to {
        transform: translateX(-100%); /* Bitiş konumu */
    }
}
.category-buttons {
    margin: 0px;
    padding: 0px;
    align-items: center;

}
.category-buttons nav {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(4.75rem,1fr));
    grid-auto-flow: column;
    grid-column-gap: var(--spacer-1);
    padding-top: var(--spacer-2);
    padding-bottom: var(--spacer-2);
    margin-top: calc(var(--spacer-2)*-1);
    margin-bottom: calc(var(--spacer-2)*-1);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    flex: 1 1;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.category-buttons nav a:first-child {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.category-buttons nav a:last-child {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.category-buttons nav a:hover {
    background: rgb(239,122,33);
    background: linear-gradient(23deg, rgba(239,122,33,1) 4%, rgba(88,201,221,0) 67%);
    transition: transform 0.3s ease-in-out; /* Animasyon süresi ve geçiş efekti */
}
.category-buttons nav a:hover img {
    transform: scale(1.4); /* Hover durumunda elemanı büyüt */
    transition: transform 0.3s ease-in-out; /* Animasyon süresi ve geçiş efekti */
}
.category-buttons nav a img {

    transition: transform 0.3s ease-in-out; /* Animasyon süresi ve geçiş efekti */
}
.category-buttons nav a {
    box-shadow: black;
    background-color: #181825;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4.75rem;
    height: 6.75rem;
    scroll-snap-align: start;
    padding: 8px;
    border-right: 2px solid #2a2a36;
    transition: transform 0.3s ease-in-out; /* Animasyon süresi ve geçiş efekti */
}
.category-buttons nav a img {
    max-height: 100%;
    max-width: 100%;
}
.category-buttons nav a img {
    display: block;
    width: auto;
    height: auto;
}
.product-style-one .card-thumbnail a img.vrd {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 395px !important;
    min-height: 395px !important;
    transition: 0.5s;
}
.category-story-area {
    background: var(--background-color-1);
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-inline: 10px;
    margin-top: 15px;
}
.trty .card-thumbnail a img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 300px;
    min-height: 160px;
    max-height: 216px !important;
    transition: 0.5s;
    object-fit: cover;
}



.subscribe-wrapper_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 38px;
    border-radius: 6px;
    border: 10px solid var(--background-color-1);
}

.usts{
    background: rgb(25,26,39);
    background: linear-gradient(0deg, rgba(25,26,39,0.7511379551820728) 20%, rgba(71,72,82,0.4542191876750701) 53%, rgba(241,241,241,0) 76%);
    width: 100%;
    height: 100%;
}
.category-story-area .category-story {
    padding: 0 10px;
    border-bottom: 2px solid transparent;
    flex: 0 0 7.68%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.category-story-area .category-story:hover img{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
.category-story-area .category-story:hover{
    transition: all 200ms ease-in-out;
    background: #12121c;
    border-bottom: 1px solid rgba(1,1,1,1);
}

.rn-service-one {
    text-align: left;
    padding: 53px 30px;
    transition: 0.5s all ease-in-out;
    position: relative;
    border-radius: 10px;
    background: var(--background-color-1);
    position: relative;
    z-index: 1;
    height: 100%;
    padding-bottom: 40px;
}
.absolResim{
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: red;
    height: 100%;
    border-radius: 9px;
}
.ops{
    opacity: 1 !important;
    transition: all 100ms ease-in-out;
}
.slick-dots{
    opacity: 0;
}

.navslink{
    width: 12.5%;
}
.logo-thumbnail img {
    max-height: 50px !important;
    object-fit: cover;
}
.rn-header .logo-thumbnail {
    padding-right: 32px;
    position: relative;
    margin-right: -1px;
}
@media screen and (max-width: 700px) {
    .setting-option .icon-box{
        display: flex;
        font-size: 12px !important;
        align-items: center;
    }
    .setting-option .icon-box a{

        font-size: 12px !important;
    }
}
.rn-collection-inner-one .collection-wrapper .collenction-small-thumbnail img {
    display: inline-block;
    width: 33.33%;
    padding: 4px;
    max-height: 108px !important;
    object-fit: cover;
    border-radius: 10px;

}
.rn-collection-inner-one .collection-wrapper .collection-big-thumbnail img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 239px !important;
    transition: var(--transition);
    min-height: 239px !important;
}
@media screen and (max-width: 600px) {
    .category-area,.en-product-area{
        margin-top: 0px !important;
    }
    .product-tab-nav button{
        width: fit-content !important;
        height: 70px !important;
    }
    .product-tab-nav .nav button.nav-link{
        margin-right: 10px !important;
    }
    .navslink{
        width: 100% !important;
        height: 44px !important;
        text-align: left;
    }
    .product-tab-nav .nav button.nav-link {
        padding: 4px 39px;
        margin-right: -1px;
        border-radius: 5px;
        color: var(--color-white);
        border: 1px dashed var(--color-border);
        transition: var(--transition);
        font-size: 16px;
    }

    .slider-style-3 .slide-small-wrapper .read-wrapper {
        position: absolute;
        bottom: 25px;
        left: 21px;
        z-index: 2;
    }
    .slider-style-3 .slide-small-wrapper .read-wrapper .title {
        margin-bottom: 0px;
        font-size: 14px;
    }

}