.category-story-area {
    background: var(--background-color-1);
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-inline: 10px;
    margin-top: 15px;
}
.trty .card-thumbnail a img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 300px;
    min-height: 160px;
    max-height: 216px !important;
    transition: 0.5s;
    object-fit: cover;
}



.subscribe-wrapper_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 38px;
    border-radius: 6px;
    border: 10px solid var(--background-color-1);
}

.usts{
    background: rgb(25,26,39);
    background: linear-gradient(0deg, rgba(25,26,39,0.7511379551820728) 20%, rgba(71,72,82,0.4542191876750701) 53%, rgba(241,241,241,0) 76%);
    width: 100%;
    height: 100%;
}
.category-story-area .category-story {
    padding: 0 10px;
    border-bottom: 2px solid transparent;
    flex: 0 0 7.68%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.category-story-area .category-story:hover img{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
.category-story-area .category-story:hover{
    transition: all 200ms ease-in-out;
    background: #12121c;
    border-bottom: 1px solid rgba(1,1,1,1);
}

.rn-service-one {
    text-align: left;
    padding: 53px 30px;
    transition: 0.5s all ease-in-out;
    position: relative;
    border-radius: 10px;
    background: var(--background-color-1);
    position: relative;
    z-index: 1;
    height: 100%;
    padding-bottom: 40px;
}
.absolResim{
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: red;
    height: 100%;
    border-radius: 9px;
}
.ops{
    opacity: 1 !important;
    transition: all 100ms ease-in-out;
}
.slick-dots{
    opacity: 0;
}

.navslink{
    width: 12.5%;
}
@media screen and (max-width: 600px) {
    .category-area,.en-product-area{
        margin-top: 0px !important;
    }
    .product-tab-nav button{
        width: fit-content !important;
        height: 70px !important;
    }
    .product-tab-nav .nav button.nav-link{
        margin-right: 10px !important;
    }
    .navslink{
        width: 100% !important;
        height: 44px !important;
        text-align: left;
    }
    .product-tab-nav .nav button.nav-link {
        padding: 4px 39px;
        margin-right: -1px;
        border-radius: 5px;
        color: var(--color-white);
        border: 1px dashed var(--color-border);
        transition: var(--transition);
        font-size: 16px;
    }

    .slider-style-3 .slide-small-wrapper .read-wrapper {
        position: absolute;
        bottom: 25px;
        left: 21px;
        z-index: 2;
    }
    .slider-style-3 .slide-small-wrapper .read-wrapper .title {
        margin-bottom: 0px;
        font-size: 14px;
    }

}
.slider-style-3 .slick-list{
    height: 565px !important;
}

@media screen and (max-width: 700px) {
    .slider-style-3 .slick-list {
        height: 306px !important;
    }
    .category-style-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--background-color-1);
        padding: 12px;
        border-radius: 6px;
        border: 1px solid var(--color-border);
    }
    .category-style-one span.category-label {
        font-size: 12px;
        font-family: 'Montserrat',serif;
        margin-top: 7px;
        transition: var(--transition);
        color: var(--color-body);
    }

}
.category-style-one img{
    width: 100px !important;
    height: 75px !important;
}
.product-style-one .card-thumbnail a img {

    max-height: 179px !important;
    min-height: 179px !important;

}.category-story-area {
     background: var(--background-color-1);
     height: 65px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     gap: 10px;
     border-radius: 5px;
     margin-bottom: 15px;
     padding-inline: 10px;
     margin-top: 15px;
 }
.trty .card-thumbnail a img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 300px;
    min-height: 160px;
    max-height: 216px !important;
    transition: 0.5s;
    object-fit: cover;
}



.subscribe-wrapper_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 38px;
    border-radius: 6px;
    border: 10px solid var(--background-color-1);
}

.usts{
    background: rgb(25,26,39);
    background: linear-gradient(0deg, rgba(25,26,39,0.7511379551820728) 20%, rgba(71,72,82,0.4542191876750701) 53%, rgba(241,241,241,0) 76%);
    width: 100%;
    height: 100%;
}
.category-story-area .category-story {
    padding: 0 10px;
    border-bottom: 2px solid transparent;
    flex: 0 0 7.68%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.category-story-area .category-story:hover img{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
.category-story-area .category-story:hover{
    transition: all 200ms ease-in-out;
    background: #12121c;
    border-bottom: 1px solid rgba(1,1,1,1);
}

.rn-service-one {
    text-align: left;
    padding: 53px 30px;
    transition: 0.5s all ease-in-out;
    position: relative;
    border-radius: 10px;
    background: var(--background-color-1);
    position: relative;
    z-index: 1;
    height: 100%;
    padding-bottom: 40px;
}
.absolResim{
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: red;
    height: 100%;
    border-radius: 9px;
}
.ops{
    opacity: 1 !important;
    transition: all 100ms ease-in-out;
}
.slick-dots{
    opacity: 0;
}

.navslink{
    width: 12.5%;
}
@media screen and (max-width: 600px) {
    .category-area,.en-product-area{
        margin-top: 0px !important;
    }
    .product-tab-nav button{
        width: fit-content !important;
        height: 70px !important;
    }
    .product-tab-nav .nav button.nav-link{
        margin-right: 10px !important;
    }
    .navslink{
        width: 100% !important;
        height: 44px !important;
        text-align: left;
    }
    .product-tab-nav .nav button.nav-link {
        padding: 4px 39px;
        margin-right: -1px;
        border-radius: 5px;
        color: var(--color-white);
        border: 1px dashed var(--color-border);
        transition: var(--transition);
        font-size: 16px;
    }

    .slider-style-3 .slide-small-wrapper .read-wrapper {
        position: absolute;
        bottom: 25px;
        left: 21px;
        z-index: 2;
    }
    .slider-style-3 .slide-small-wrapper .read-wrapper .title {
        margin-bottom: 0px;
        font-size: 14px;
    }

}
.slider-style-3 .slick-list{
    height: 565px !important;
}

@media screen and (max-width: 700px) {
    .slider-style-3 .slick-list {
        height: 306px !important;
    }
    .category-style-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--background-color-1);
        padding: 12px;
        border-radius: 6px;
        border: 1px solid var(--color-border);
    }
    .category-style-one span.category-label {
        font-size: 12px;
        font-family: 'Montserrat',serif;
        margin-top: 7px;
        transition: var(--transition);
        color: var(--color-body);
    }

}
.category-style-one img{
    width: 100px !important;
    height: 75px !important;
}
.product-style-one .card-thumbnail a img {

    max-height: 179px !important;
    min-height: 179px !important;

}
.product-tab-nav .nav button.nav-link {
    padding: 13px 13px !important;
    margin-right: 20px;
    border-radius: 5px;
    color: var(--color-white);
    border: 1px dashed var(--color-border);
    transition: var(--transition);
    font-size: 16px;
}
@media screen and (max-width: 700px ) {
    .lefts{
        flex-direction: column;

    }
    .rights {
        margin-top: 20px;;
        display: block !important;
    }
    .rights button{
        float: left;
        width: 30% !important;
    }
    .lefts button{
        flex:1 !important;
        width: 100% !important;
    }
    #nav-tab{
        flex-direction: column;
    }
}
.product-style-one .card-thumbnail a img.vrd {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 395px;
    min-height: 395px;
    transition: 0.5s;
}
#nav-ayar-tab1{
    width: fit-content;display: flex;align-items: center; height: 70px;
}
#cusH3{
    z-index: 3;
    margin-top: 22px;
    font-size:24px;
    line-height: 10px;
}
.rtgs{
    z-index:2;position:absolute; width: 100%; height: 100%;background: rgb(103,204,73);background: linear-gradient(40deg, rgba(103,204,73,1) 4%, rgba(0,0,0,0.5900735294117647) 18%);
}
.rn-collection-inner-one .collection-wrapper .collenction-small-thumbnail img {
    display: inline-block;
    width: 33.33%;
    padding: 4px;
    max-height: 108px !important;
    object-fit: cover;
    border-radius: 10px;
}
.rn-collection-inner-one .collection-wrapper .collection-big-thumbnail img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 239px !important;
    transition: var(--transition);
    min-height: 239px !important;
}